<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 借口全类名 -->
<mapper namespace="com.samplepoint.dao.DigitalDataMapper">
	<resultMap type="com.samplepoint.beans.DigitalData" id="digitaldataMap">
		<id property="id" column="id" />
		<result property="time" column="time" />
		<result property="area" column="area" />
		<result property="latitude" column="Latitude" />
		<result property="longitude" column="Longitude" />
		<result property="height" column="Height" />
		<result property="speed" column="Speed" />
		<result property="testModeId" column="testMode_id" />
		<result property="frequency" column="frequency" />
		<result property="wideBand" column="wideBand" />
		<result property="fieldStrength" column="fieldStrength" />
		<result property="snr" column="snr" />
		<result property="mer" column="mer" />
		<result property="ldpc" column="ldpc" />
		<result property="transforLat" column="transfor_lat" />
		<result property="transforLng" column="transfor_lng" />
		<result property="eid" column="eid" />
	</resultMap>
	<insert id="saveDigitalData" parameterType="com.samplepoint.beans.DigitalData">
		INSERT INTO
		digital_data
		(TIME,AREA,Longitude,Latitude,Height,Speed,testMode_id,frequency,wideBand,fieldStrength,snr,mer,ldpc,eid,transfor_lng,transfor_lat)
		VALUES
		(#{time},#{area},#{longitude},#{latitude},#{height},#{speed},#{testModeId},#{frequency},#{wideBand},#{fieldStrength},#{snr},#{mer},#{ldpc},#{eid},#{transforLng},#{transforLat});
	</insert>
	<select id="findMaxField" resultType="float">
		select max(fieldStrength)
		FROM digital_data;
	</select>
	<select id="findMinField" resultType="float">
		select min(snr) FROM
		digital_data;
	</select>
	<select id="findMaxSnr" resultType="float">
		select max(snr) FROM
		digital_data;
	</select>
	<select id="findMinSnr" resultType="float">
		select min(snr) FROM
		digital_data;
	</select>
	<select id="findMaxLdpc" resultType="float">
		select max(ldpc) FROM
		digital_data;
	</select>
	<select id="findMinLdpc" resultType="float">
		select min(ldpc) FROM
		digital_data;
	</select>
	<select id="findMaxLng" resultType="float">
		select max(transfor_lng) from
		digital_data;
	</select>
	<select id="findMinLng" resultType="float">
		select min(transfor_lng) from
		digital_data;
	</select>
	<select id="findMaxLat" resultType="float">
		select max(transfor_lat) from
		digital_data;
	</select>
	<select id="findMinLat" resultType="float">
		select min(transfor_lat) from
		digital_data;
	</select>

	<select id="findById" parameterType="int"
		resultType="com.samplepoint.beans.DigitalData">
		select
		digital_data.id,TIME,AREA,transfor_lng,transfor_lat,Height,Speed,testMode_id,frequency,wideBand,fieldStrength,digital_data.eid,snr,mer,ldpc
		FROM digital_data WHERE digital_data.id=#{id};
	</select>
	<select id="listDigitalDataByField" parameterType="map"
		resultMap="digitaldataMap">
		select
		digital_data.id,TIME,AREA,transfor_lng,transfor_lat,Height,Speed,testMode_id,frequency,wideBand,fieldStrength,digital_data.eid,snr,mer,ldpc
		FROM digital_data WHERE fieldStrength BETWEEN #{downfield} AND
		#{upfield};
	</select>
	<select id="findLngByLat" parameterType="float">
		SELECT Longitude FROM
		digital_data WHERE Latitude = #{latitude}
	</select>
	<select id="checkTime" resultType="int" parameterType="string">
		SELECT
		COUNT(*) FROM digital_data WHERE TIME=#{time}
	</select>
	<select id="listAreas" resultType="string">
		SELECT DISTINCT AREA FROM
		digital_data
	</select>
	<select id="findLatByLng" parameterType="float">
		SELECT transfor_lat FROM
		digital_data WHERE transfor_lng = #{transforLng}
	</select>
	<select id="listFrequencys" resultType="float">
		select DISTINCT frequency
		from digital_data ;
	</select>
	<select id="listDigitalDatas" resultMap="digitaldataMap">
		select * FROM digital_data ;
	</select>
	<select id="findDigitalDataByArea" parameterType="string"
		resultMap="digitaldataMap">
		select * from digital_data where area like
		CONCAT(CONCAT('%',#{area},'%'))
	</select>
	<select id="getDigitalDatatsf" resultMap="digitaldataMap">
		select
		digital_data.id,TIME,AREA,transfor_lng,transfor_lat,Height,Speed,testMode_id,frequency,wideBand,fieldStrength,digital_data.eid,snr,mer,ldpc
		FROM digital_data ;
	</select>
	<select id="getLatitueByLng" parameterType="float" resultType="float">
		SELECT distinct transfor_lat FROM digital_data WHERE
		Longitude=#{Longitude};
	</select>
	<select id="getLngitudeByLat" parameterType="float" resultType="float">
		SELECT distinct transfor_lng FROM digital_data WHERE
		transfor_lat=#{transforLat};
	</select>
	<select id="listDigitalDataByParam" resultMap="digitaldataMap"
		parameterType="map">
		select * FROM digital_data WHERE 1=1
		<if
			test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
			AND TIME BETWEEN #{startTime} and #{endTime}
		</if>
		<if test="area!=null and area!='' ">
			AND area like CONCAT(CONCAT('%',#{area},'%'))
		</if>
		<if test="frequency!=null and frequency!=''">
			AND frequency like CONCAT(CONCAT('%',#{frequency},'%'))
		</if>
		order by id LIMIT #{pageNo},#{pageNumr};
	</select>
	<select id="getFieldCount" parameterType="map" resultType="int">
		select count(*) from digital_data where fieldStrength between
		#{downField} and #{upField};
	</select>
	<select id="getSampleCount" resultType="int">
		select count(*) from
		digital_data;
	</select>
	<select id="getCount" resultType="int" parameterType="map">
		SELECT count(*) FROM digital_data WHERE 1=1
		<if
			test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
			AND TIME BETWEEN #{startTime} and #{endTime}
		</if>
		<if test="area!=null and area!=''">
			AND area like CONCAT(CONCAT('%',#{area},'%'))
		</if>
		<if test="frequency!=null and frequency!=''">
			AND frequency like CONCAT(CONCAT('%',#{frequency},'%'))
		</if>
	</select>
	<select id="listFieldStrength" resultType="float" parameterType="string">
		select fieldStrength
		from digital_data where area=#{area};
	</select>
	<update id="updateLngLat" parameterType="map">
		update digital_data set
		transfor_lng = #{transforLng},transfor_lat = #{transforLat} where
		id=#{id};
	</update>
	<update id="updateEId" parameterType="map">
		UPDATE digital_data SET
		eid=#{eid} WHERE AREA like CONCAT(CONCAT('%',#{area},'%'))
	</update>
	<delete id="deleteDigitalData" parameterType="int">
		delete from
		digital_data where id=#{id}
	</delete>
</mapper>